<span class="text-xs">
    © 2025 <%= APP_NAME %> - Not affiliated with Spotify |
        Made by <a href="https://github.com/lexradotdev/collageiefy" target="_blank"
            class="underline text-primary">@lexradotdev</a>
</span>